main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
}

main > * {
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.73);
    position: absolute;
    top: 10%;
    left: 40%;
    width: 20vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

img {
    margin: 20px;
    width: 19%;
    height: auto;
}

/* footer */
footer > div {
    font-size: 0.9rem;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background: #fff;
    margin: 20px;
    text-align: center;
    font-size: 25px;
    line-height: 37px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 2px 5px 10px rgba(150, 150, 150, .3);
    transition: all .1s ease-out;
}
.icon:hover{
    width: 200px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}
.icon:hover i{
    color: #fff;
}
.icon .fa-linkedin-in{
    color: #0077B5;
}
.lnk:hover{
    background: #0077B5;
}
.icon .fa-github{
    color: #000;
}
.git:hover{
    background: #000;
}
a{
    text-decoration: none;
    color: #fff;
}