@import url('https://fonts.googleapis.com/css2?family=Gidugu&family=Josefin+Sans:wght@700&display=swap');

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
}

main > * {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    position: absolute;
    top: 10%;
    left: 40%;
    width: 20vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: 255, 255, 255, 0.3;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: 255, 255, 255, 0.3;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

img {
    margin: 20px;
    width: 19%;
    height: auto;
}

h1 {
    font-family: 'Gidugu', sans-serif;
    font-size: 50px;
    margin: 0;
}

input {
    width: 90%;
    height: auto;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    font-size: 1.6rem;
    margin: 6%;
    background: rgba(255, 255, 255, 0);
    color: rgb(0, 0, 0);
}

input::placeholder {
    color: rgb(0, 0, 0);
}

p {
    font-size: 0.8rem;
    width: 70%;
    margin: 0;
    padding: 0;
}

.newsletter-box,
.terms-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.newsletter, .terms {
    width: 20px;
    position: relative;
    margin: 20px auto;
}

.newsletter label,
.terms label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}

.newsletter label:after,
.terms label:after {
    content: '';
    width: 9px;
    height: 5px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}

.newsletter label:hover::after,
.terms label:hover::after {
    opacity: 0.3;
}

.newsletter input[type=checkbox],
.terms input[type=checkbox] {
    visibility: hidden;
}

.newsletter input[type=checkbox]:checked + label:after,
.terms input[type=checkbox]:checked + label:after {
    opacity: 1;
}

button {
    width: 90%;
    height: auto;
    border: none;
    outline: none;
    font-size: 1.6rem;
    margin: 5% 20px;
    padding: 10px;
    background: #000;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

/* footer */
footer > div {
    font-size: 0.9rem;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background: #fff;
    margin: 0 20px 20px 20px;
    text-align: center;
    font-size: 25px;
    line-height: 37px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 2px 5px 10px rgba(150, 150, 150, .3);
    transition: all .1s ease-out;
}
.icon:hover{
    width: 200px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}
.icon:hover i{
    color: #fff;
}
.icon .fa-linkedin-in{
    color: #0077B5;
}
.lnk:hover{
    background: #0077B5;
}
.icon .fa-github{
    color: #000;
}
.git:hover{
    background: #000;
}
a{
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 1500px) {
    main > * {
        width: 30vw;
        left: 35%;
    }
}

@media screen and (max-width: 1100px) {
    main > * {
        width: 50vw;
        left: 25%;
    }

    html {
        font-size: 90%;
    }
}

@media screen and (max-width: 650px) {
    main > * {
        width: 80vw;
        left: 10%;
    }

    html {
        font-size: 80%;
    }
}