main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
}

main > * {
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.73);
    position: absolute;
    top: 10%;
    left: 40%;
    width: 20vw;
    height: 80vh;
}